@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4"> Sales Web MVC </h1>
    <p class="lead"> Projeto desenvolvido acompanhando o curso de C# .NET Core </p>
    <hr class="my-4">
    <p> Inserir, editar e remover dendedores e departaentos. Verificar histórico de vendas por data e por data agrupados em categorias.</p>
</div>